<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

	<insert id="boardInsertProcess" parameterType="com.sample.dto.BoardDto">
		INSERT INTO board
		(b_num, b_writer, b_title, b_contents, b_reg_date,
		b_image)
		VALUES
		(board_b_num_seq.nextval, #{bWriter}, #{bTitle}, #{bContents},
		sysdate, #{bImage, jdbcType=VARCHAR})
	</insert>

	<resultMap type="com.sample.dto.BoardDto" id="boardListMap">
		<result column="b_num" property="bNum" />
		<result column="b_writer" property="bWriter" />
		<result column="b_title" property="bTitle" />
		<result column="b_contents" property="bContents" />
		<result column="b_reg_date" property="bRegDate" />
		<result column="b_image" property="bImage" />
		<result column="b_read_count" property="bReadCount"/>
	</resultMap>
	<select id="boardList" resultMap="boardListMap">
		SELECT b_num, b_writer, b_title, b_contents, b_reg_date, b_read_count
		FROM board ORDER BY b_reg_date DESC
	</select>
	
	<select id="boardDetailForm" resultMap="boardListMap">
		SELECT * FROM board
		WHERE b_num = #{bNum}
	</select>
	
	<update id="increaseViewCount" parameterType="com.sample.dto.BoardDto">
		UPDATE board SET b_read_count = b_read_count + 1
		WHERE b_num = #{bNum}
	</update>
	
	<delete id="deleteDocument" parameterType="com.sample.dto.BoardDto">
		DELETE FROM board
		WHERE b_num = #{bNum}
	</delete>
	
</mapper>
